body {
  background-color: rgba(228, 251, 255, 1.000);
}
.swagger-section #header {
  background-color: rgba(183, 223, 230, 1.000);
}
.swagger-section #header #logo {
  background: transparent url(../images/logo.png) no-repeat left center;
  width: 125px;
  display: inline-block;
  background-size: contain;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2,
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
  color: rgba(51, 51, 51, 1.000);
}
.swagger-section #input_apiKey {
  width: 150px;
  margin-top: .5em !important;
}
